[user]
	name = Jefferson Ye
	email = heroicevil7@gmail.com
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[pull]
	rebase = false
[core]
	excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
[fetch]
	prune = true
